body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

ul {
    padding: 0px!important;
}

.menu-principal {
    width: 100%;
    background-color: black;
    height: 75px;

}

main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
   padding: -5px; 
   float: left;
}

.header-2{
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}

.menu-urls {
    height: 80px;
    border-bottom: 3px solid #efefef;
}

.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 50px;
}

.menu ul li:hover {
    border-bottom: 3px solid rgb(243, 70, 70);
}

.menu ul li a:hover{
    color: rgb(243, 70, 70);
}

.menu ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-family: sans-serif;
}

.menu {
    width: 70%;
    float: left;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

.capa-principal img {
    width: 75%;
}

.texto-destaque {
    text-align: center;
    font-family: sans-serif;
}

.texto-destaque h1{
    color: #818181;
    font-size: 30px;
}

.texto-destaque strong{
    color: #646464;
}

.texto-destaque p{
    color: #9a9a9a;
    font-size: 15px;
}

.col-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 29.3%;
    float: left;
    position: relative;
}

.bloco-texto{
    margin-top: 3em;
}

h3 {
    font-weight: normal!important;
    color: #646464;
}

.footer-2 {
    background-color: rgb(26, 2, 2);
    color: #c1c1c1;
    height: 90px;
    font-family: sans-serif;
}

.footer-2 p{
    padding: 10px;
}